main {
    justify-content: center;
    align-items: center;
}

.board {
    width: 100%;
    display: flex;
    justify-content: center;
}

.game-grid {
    display: grid;
    gap: 0;
    grid-column-gap: 0;
    grid-row-gap: 0;
    border-spacing: 0;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    flex-direction: column;
}

.buttons > div, .buttons > a {
    width: 100%;
}

.game-grid-cell {
    font-family: 'Minesweeper', sans-serif;
    font-size: 0.8rem;
    width: 1.5rem;
    aspect-ratio: 1;
    background-color: gray;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    user-select: none;
    margin: 0;
}
.game-grid-cell.revealed {
    background-color: #d2d2d2;
}

.game-grid-cell.revealed.m1 {
    color: #7cc7ff;
}

.game-grid-cell.revealed.m2 {
    color: #66c266;
}

.game-grid-cell.revealed.m3 {
    color: #ff7788;
}

.game-grid-cell.revealed.m4 {
    color: #ee88ff;
}

.game-grid-cell.revealed.m5 {
    color: #ddaa22;
}

.game-grid-cell.revealed.m6 {
    color: #66cccc;
}
.game-grid-cell.revealed.m7 {
    color: #999999;
}
.game-grid-cell.revealed.m8 {
    color: #d0d8e0;
}

.game-grid-cell.mine {
    background-color: red;
}
.game-grid-cell.flag {
    background-color: orange;
}

.game-grid-cell:hover {
    background-color: lightgray;
}

.game-grid-cell:active {
    background-color: #696969;
}



#win-form .smallbutton{
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
}

