
main {
    align-items: center;
    height: 100%;
}

.wrapper {
    display: none;
    flex-direction: column;
    background-color: #140c04;
    padding: 2rem;
    width: 100%;
    row-gap: 1rem;
}

.wrapper.show {
    display: flex;
}

.wrapper > span {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}